<div class="container">
  <div>
    <h1>Hello, i am your coach</h1>
    <form action="answer" data-turbo="false">
      <div class="mb-3">
        <label class="form-label">Ask me something:</label>
        <input type="text" class="form-control" style="width: 400px; height: 100px" name="question">
      </div>
      <button type="submit" class="btn btn-primary">Ask!</button>
    </form>
  </div>
</div>
